<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Parkerrr - Web Architect, Designer, Buritto Connoisseur. 
  </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <div id="main">

    <header>
      <h1> I'm a Web Developer with a focus on User Experience design and data. </h1>
    </header>

    <nav role="navigation">
       <!-- some social profile links -->
    </nav>

    {{ content }}

    <footer>
      <!-- Something descriptive here -->
    </footer>
  </div>
</body>
</html>